<nav>
  <header>
    <div class="max__width">
      <div class="header__container">
        <div class="contact__info">Call : (+880) 123 4567</div>
        <div class="pub__info">Summer sale discount off 50%! Shop Now</div>
        <div class="icons">
          <div class="icon">
            <img src="../../../assets/icons/Facebook - Original.svg" alt="" />
          </div>
          <div class="icon">
            <img src="../../../assets/icons/Instagram - Original.svg" alt="" />
          </div>
          <div class="icon">
            <img src="../../../assets/icons/Twitter - Original.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="max__width">
    <div class="nav__container">
      <div class="logo">
        <img src="../../assets/images/Logo.svg" alt="logo" />
      </div>
      <ul class="menu">
        <li>Home</li>
        <li>Chair</li>
        <li>Decor</li>
        <li>Lighting</li>
        <li>Sofas</li>
        <li>Contact</li>
      </ul>
      <div class="icons">
        <div class="icon">
          <img src="../../../assets/icons/Search_alt.svg" alt="search icon" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/User.svg" alt="search icon" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/Bag.svg" alt="search icon" />
        </div>
      </div>
    </div>
  </div>
</nav>
