<section class="blog">
  <div class="max__width">
    <div class="main__title">
      <div class="title">Our Blogs</div>
      <div class="text">
        Find a bright ideal to suit your taste with our great selection
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="img__container">
          <img src="../../../assets/images/b-7.jpg" alt="blog image" />
        </div>
        <div class="content">
          <div class="card__title">Nullam ullamcorper nisl quis...</div>
          <div class="card__info">SUB CATEGORY / 18 Dec 2022</div>
          <div class="card__text">
            Suspendisse posuere, diam in bibendum lobortis, turpis ipsum aliquam
            risus, sit amet dictum ligula lorem non nisl...
          </div>
          <div class="card__link">+Read More</div>
        </div>
      </div>
      <div class="card">
        <div class="img__container">
          <img src="../../../assets/images/b-6.jpg" alt="blog image" />
        </div>
        <div class="content">
          <div class="card__title">Nullam ullamcorper nisl quis...</div>
          <div class="card__info">SUB CATEGORY / 18 Dec 2022</div>
          <div class="card__text">
            Suspendisse posuere, diam in bibendum lobortis, turpis ipsum aliquam
            risus, sit amet dictum ligula lorem non nisl...
          </div>
          <div class="card__link">+Read More</div>
        </div>
      </div>
      <div class="card">
        <div class="img__container">
          <img src="../../../assets/images/b-5.jpg" alt="blog image" />
        </div>
        <div class="content">
          <div class="card__title">Nullam ullamcorper nisl quis...</div>
          <div class="card__info">SUB CATEGORY / 18 Dec 2022</div>
          <div class="card__text">
            Suspendisse posuere, diam in bibendum lobortis, turpis ipsum aliquam
            risus, sit amet dictum ligula lorem non nisl...
          </div>
          <div class="card__link">+Read More</div>
        </div>
      </div>
    </div>
  </div>
</section>
