<section class="trending">
  <div class="max__width">
    <div class="main__title">
      <div class="title">Trending this week</div>
      <div class="text">
        Find a bright ideal to suit your taste with our great selection of
        suspension, wall, floor and table lights.
      </div>
    </div>
    <div class="products__container">
      <app-product-card
        *ngFor="let product of productsList"
        [product]="product"
      ></app-product-card>
    </div>
    <div class="all__product">
      <div class="text" (click)="navigateToShop()">+See All Product</div>
    </div>
  </div>
</section>
