.trending {
    margin-top: 140px;
}

.trending .main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.trending .text {
    margin-top: 16px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 14px;
    color: var(--textColorGray);
}

.trending .products__container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.trending .all__product {
    margin-top: 80px;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.trending .all__product .text {
    position: relative;
    width: max-content;
    color: black;
    cursor: pointer;
}

.trending .all__product .text::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 6px;
    background: var(--primaryColor);
    z-index: -1;
}