<section class="categories">
  <div class="max__width">
    <div class="container">
      <div class="item">
        <div class="item__info">
          <div class="title">Chairs</div>
          <div class="quantity">9 items</div>
        </div>
        <img src="../../../assets/images/h1-bn-1.jpg" alt="" />
      </div>
      <div class="item">
        <div class="item__info">
          <div class="title">Sofas</div>
          <div class="quantity">4 items</div>
        </div>
        <img src="../../../assets/images/h1-bn-2.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
