<section class="banner">
  <div class="max__width">
    <div class="container">
      <div></div>
      <div class="right__side">
        <div class="title">
          LIGHTING <br />
          <span>2019</span>
        </div>
        <img
          src="../../../assets/images/home1_image_layout_2.png"
          alt="image"
          class="layout__img"
        />
        <app-secondary-btn
          [buttonText]="'Discover Now'"
          onClick=""
        ></app-secondary-btn>
      </div>
    </div>
  </div>
</section>
