<section class="details">
  <div class="breadcrumb__container">
    <div class="title">Details</div>
    <ul class="beadcrumb">
      <li>Product</li>
      <li>Product name</li>
    </ul>
  </div>
  <div class="max__width">
    <div class="details__body">
      <div class="imgs__container">
        <div class="swiper__container">
          <swiper
            #swiper
            [virtual]="true"
            [slidesPerView]="1"
            class="details__swiper"
          >
            <ng-template swiperSlide>
              <img src="../../assets/images/h1-bn-1.jpg" alt="product img" />
            </ng-template>
            <ng-template swiperSlide>
              <img src="../../assets/images/h1-bn-2.jpg" alt="product img" />
            </ng-template>
          </swiper>
        </div>
        <div class="swiper__navigations">
          <img
            src="../../assets/images/h1-bn-1.jpg"
            alt="navigation"
            class="active"
            (click)="slideToIndex(0)"
          />
          <img
            src="../../assets/images/h1-bn-2.jpg"
            alt="navigation"
            (click)="slideToIndex(1)"
          />
        </div>
      </div>
      <div class="details__container">
        <div class="stock__info">
          <label>In Stock</label>
          <div class="quantity">2077 items</div>
        </div>
        <div class="product__name">MIRO DINING TABLE</div>
        <div class="rating__container">
          <star-rating
            [starType]="'svg'"
            [rating]="3.6"
            [readOnly]="true"
          ></star-rating>
          <div class="reviews__numbers">(5 customers reviews)</div>
        </div>
        <div class="product__details">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
          magni, cupiditate dolores vero assumenda repellendus quam excepturi,
          pariatur eum id, similique consequatur enim? Distinctio sequi
          temporibus voluptatem et, eius ea eos ipsa molestiae quae dolores
          quaerat provident aliquid soluta maiores dolorem perferendis aperiam
          eveniet, porro libero quasi doloribus, obcaecati ex.
        </div>
      </div>
    </div>
  </div>
</section>
