<footer>
  <div class="max__width">
    <div class="footer__container">
      <div class="item">
        <div class="logo__container">
          <img src="../../../assets/images/Logo.svg" alt="logo" />
        </div>
        <div class="address">
          2593 Timbercrest Road, Chisana, Alaska Badalas United State
        </div>
        <div class="phone__number">(+880) 123 4567</div>
        <div class="email">demo@demo.com</div>
      </div>
      <div class="item">
        <div class="title">Our Product</div>
        <ul>
          <li>Bestsellers</li>
          <li>New In</li>
          <li>Chairs</li>
          <li>Sofas</li>
        </ul>
      </div>
      <div class="item">
        <div class="title">Useful Links</div>
        <ul>
          <li>About Us</li>
          <li>Blog</li>
          <li>FAQs</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="item">
        <div class="title">Newsletter signup</div>
        <div class="text">Stay Updated on all that's new add noteworthy</div>
        <form>
          <input type="text" placeholder="Your email..." />
          <button>Subscribe</button>
        </form>
        <div class="icons">
          <div class="icon">
            <img src="../../../assets/icons/Facebook - Original.svg" alt="" />
          </div>
          <div class="icon">
            <img src="../../../assets/icons/Instagram - Original.svg" alt="" />
          </div>
          <div class="icon">
            <img src="../../../assets/icons/Twitter - Original.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="sub__footer">
      <p>© 2023, Made with pasion by Otmane</p>
      <p>All rights reserved by Otmane</p>
    </div>
  </div>
</footer>
